// COMPONENTS
// ------------------------------


// Anchors
a,
a:visited {
  color: $color-brand;
  @include transition();
}
a:hover,
a:active {
  color: $color-brand-light;
  text-decoration: none;
}


// Buttons
.btn-outline-brand {
  @include btn-outline();
}
.btn-outline-accent {
  @include btn-outline($color-accent);
}
.btn-filled-brand {
  @include btn-filled();
}
.btn-filled-accent {
  @include btn-filled($color-accent, $color-accent-light);
}
