// Variables
// ------------------------------


// Colors
$color-brand:        #3BAFDA;
$color-brand-light:  #5D9CEC;
$color-accent:       #6A50A7;
$color-accent-light: #8067B7;

$color-white:        #ebebeb;
$color-black:        #333;


// Borders
$border-width-sm:    1px;
$border-width-md:    2px;
$border-width-lg:    3px;

$border-radius:      0px;
$border-radius-sm:   3px;
$border-radius-md:   5px;
$border-radius-lg:   10px;


// Spacing
$spacing-sm:          4px;
$spacing-md:          8px;
$spacing-lg:          15px;
$spacing-xl:          30px;
