// Variables
// ------------------------------


// Colors
$color-brand:        #3BAFDA;
$color-brand-light:  #5D9CEC;
$color-accent:       #E9573F;
$color-accent-light: #FC6E51;

$color-white:        #ebebeb;
$color-black:        #333;
$color-black-alight: rgba(0, 0, 0, 0.03);
$color-black-amed:   rgba(0, 0, 0, 0.10);

$color-success:      #37BC9B;
$color-warn:         #F6BB42;
$color-fail:         #BF263C;

$color-text:         $color-black;
$color-text-invert:  invert($color-text);


// Borders
$border-width-sm:    1px;
$border-width-md:    2px;
$border-width-lg:    3px;

$border-radius:      0px;
$border-radius-sm:   3px;
$border-radius-md:   5px;
$border-radius-lg:   10px;


// Spacing
$spacing-sm:          4px;
$spacing-md:          8px;
$spacing-lg:          15px;
$spacing-xl:          30px;
