header {
  $header-height: 50px;
  width: 100%;
  background-color: #323133;
  padding: 10px;
  margin: 0 auto 30px;

  * { margin-bottom: 0; }

  .logo {
    color: white;
    font-size: 1.4em;
    line-height: $header-height;
  }

  .site-navigation {
    height: $header-height;
    list-style: none;

    &.right { float: right; }

    li {
      height: 100%;
      line-height: $header-height;
      float: left;

      &.btn-header {
        margin-top: -2px;
      }
    }

    &:not(.right) {

      li {
        padding: 0 10px;
      }
    }
  }
}
