<header>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h1 class="logo">Inquism</h1>
      </div>
      <div class="col-md-6">
        <nav class="site-navigation">
          <li class="align-middle"><a class="white" routerLink="/">Home</a></li>
          <li *ngIf="(af.auth | async)"><a class="white" routerLink="/post/question">Ask Question</a></li>
        </nav>
      </div>
      <div class="col-md-3">
        <nav class="site-navigation right">
          <li *ngIf="!(af.auth | async)" class="btn-header">
            <button class="btn btn-outline-brand my-2 my-sm-0" (click)="authService.login()">
              Login with Google
            </button>
          </li>
          <li *ngIf="(af.auth | async)"><a class="white" routerLink="/signup" (click)="af.auth.logout()">Logout</a></li>
        </nav>
      </div>
    </div>
  </div>
</header>
