<div class="row">
  <div class="col-md-8">
    <h3>Ask A Question</h3>

    <form novalidate (ngSubmit)="onSubmit($event, questionForm)" [formGroup]="questionForm">
      <div class="form-group">
        <label for="question" class="control-label">Enter your question:</label>
        <textarea
          formControlName="question"
          class="form-control"
          rows="4">
        </textarea>
        <div class="validation-errors">
          <div class="text-danger" *ngIf="questionForm.get('question').hasError('required') && questionForm.get('question').touched">
            Question is required
          </div>
          <div class="text-danger" *ngIf="questionForm.get('question').hasError('minlength') && questionForm.get('question').touched">
            Question must be at least 6 characters long
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="tags" class="control-label">Question tags: (Max: 3, Separate by space)</label>
        <input
          type="text"
          formControlName="tags"
          class="form-control">
      </div>
      <button class="btn btn-filled-accent"
              type="submit"
              [disabled]="questionForm.invalid">
              Ask Question
      </button>
    </form>
  </div>
</div>
