<ng-container *ngIf="(questions | async)?.length > 0">
  <div class="question-list">
    <a [routerLink]="['/question', question.$key]" *ngFor="let question of questions | async">
      <app-question-details [question]="question" [anchored]="true"></app-question-details>
    </a>
  </div>
</ng-container>
<div class="well" *ngIf="(questions | async)?.length < 1">
  <h4>Damn, there are no questions?!</h4>
  <p>The world can't be out of questions, we'd have nothing to live for!</p>
  <a routerLink="/post/question"><button class="btn btn-outline-accent">Quick, Ask A Question!</button></a>
</div>
