<ng-container *ngIf="(questions | async)?.length > 0">
  <div class="question-list">
    <div class="list anchored question-block" [routerLink]="['/question', question.$key]" *ngFor="let question of questions | async">
      <h3 class="question-title">
        {{ question.question }}
        <span class="status-flag-text-success question-resolved" *ngIf="question.answer">[Resolved] </span>
      </h3>
      <p class="question-details">Asked by {{ question.user.displayName }} {{ question.postDate | amTimeAgo }}</p>
      <p class="question-answers">{{ question.comments?.length || 0 }} answers</p>
    </div>
  </div>
</ng-container>
<div class="well" *ngIf="(questions | async)?.length < 1">
  <h4>Damn, there are no questions?!</h4>
  <p>The world can't be out of questions, we'd have nothing to live for!</p>
  <a routerLink="/post/question"><button class="btn btn-outline-accent">Quick, Ask A Question!</button></a>
</div>
